<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Aran Otake. It used data from mapbox.com and darksky.net!</p>
      <p>create By {{ name }}</p>
      <img src="./img/.png">
    </div>

    {{>footer}}
  </body>
</html>
